/*********************** Generals ********************************/
body{
    background-image: linear-gradient( #009688 200px, #DBDBD2 0);
}

a{
    color:grey;
}

#boolzap-container{
    width: 85%;
    height: 95%;
    border:2px solid black;
    background-color: white;
}

img{
    max-width: 30%;
    border-radius: 50%;
}
/*********************** Utilities ********************************/

.grey-color{
    color:#B1B1B1;
}


/*********************** Side-Bar ********************************/
#side-bar{
    flex-basis: 380px;
    background-color:white;
    flex-shrink: 0; /*per non farla stringere a causa del flex grow del main*/
    height: 100%;
    border-right: 1px solid blue;
}

.upper-side-bar{
    height: 250px;
    background-color: #EAEAEA;
}

#profile-container{
    height:40%;
}

#notification-container{
    height:40%;
    background-color: #8EDAFC;
}

#search-bar-container{
    height:20%;
}

.bottom-side-bar{
    height: calc(100% - 250px);
    overflow: auto;
}

/*********************** Main ********************************/

main{
    flex-grow: 1;
    height: 100%;
}

#contact-container{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height:100px;
    background-color: #EAEAEA;
}

#chat-container{
    height: calc(100% - 220px);
    overflow: auto;
    background-image: url('../img/mine.jpg');
    
}

#controls-container{
    height: 120px;
    background-color:#F3EEEA;
}