/*********************** Generals ********************************/
body{
    background-image: linear-gradient( #009688 200px, #DBDBD2 0);
}

a{
    color:grey;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0; 
}

#boolzap-container{
    width: 85%;
    height: 95%;
    border:2px solid black;
    background-color: white;
}

img{
    max-width: 80px;
    border-radius: 50%;
}

figure:hover{
    cursor: pointer;
}

.bottom-side-bar li:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    
}

/*********************** Utilities ********************************/

.grey-color{
    color:#B1B1B1;
}


/*********************** Side-Bar ********************************/
#side-bar{
    flex-basis: 400px;
    background-color:white;
    flex-shrink: 0; /*per non farla stringere a causa del flex grow del main*/
    height: 100%;
    border-right: 1px solid blue;
}

.upper-side-bar{
    height: 250px;
    background-color: #EAEAEA;
}

#profile-container{
    height:40%;
}

#notification-container{
    height:40%;
    background-color: #8EDAFC;
}

#search-bar-container{
    height:20%;
}

.bottom-side-bar{
    height: calc(100% - 250px);
    overflow: auto;
}

/*********************** Main ********************************/

main{
    flex-grow: 1;
    height: 100%;
}

#contact-container{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height:100px;
    background-color: #EAEAEA;
}

#chat-container{
    height: calc(100% - 200px);
    overflow: auto;
    background-image: url('../img/mine.jpg');
    
}

#controls-container{
    height: 100px;
    background-color:#F3EEEA;
}

.sent{
    padding: 10px 20px;
    background-color: #D5F9BA;
    align-self: flex-end;
    border-radius: 15px;
}

.received{
    padding: 10px 20px;
    background-color: white;
    align-self: flex-start;
    border-radius: 15px;
}

.date-message{
    color:#C3C5BB;
    font-size: 12px;
}